.table {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 60px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-between;
  width: 1100px;
  row-gap: 60px;
}