.footer__column-link {
  display: flex;
  align-items: center;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  flex-direction: row;
  text-decoration: none;
  color: #fff;
}

.footer__column-link:hover {
  color: #ffffff70;
}